.raketech-admin-content {
  .features {
    align-self: start;
    margin-top: 10px;
  }

  .feature {
    &-item {
      position: relative;
      margin-left: 22px;
      margin-bottom: 6px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        left: -22px;
        width: 14px;
        height: 14px;
        background-image: url("../../_assets/b-point.png");
      }
    }
  }
}
