.raketech-headings {
  background-color: $gold;
  font-weight: 700;

  @include bp( 1 ) {
    max-height: 0;
    transition: transit(max-height);
    overflow: hidden
  }

  @include bp( 768 ) {
    max-height: 100px;
  }

  .headings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
  }

  .heading {
    margin: 0;
    line-height: 1;
    padding: 19.5px 0;
  }
}
