#adminmenu {
  .toplevel_page_raketech-reviews {
    a.toplevel_page_raketech-reviews .wp-menu-image {
      position: relative;

      &::before {
        content: "";
        // position: absolute;
        background-image: url("../assets/icon.svg");
        background-repeat: no-repeat;
        background-size: auto 17px;
        background-position: 4px 8px;
        display: inline-block;
      }
    }
  }
}
