$gold: #d8a92b;
$green: #03792a;
$btn_hover: lighten($green, 5);
$red: #86271f;
$red_hover: lighten($red, 5);
$red_visited: lighten($red, 15);
$blue: #3d658c;
$blue_hover: lighten($blue, 5);
$blue_visited: lighten($blue, 15);

$colors: (
  "c_gold": $gold,
  "c_green": $green,
  "c_btn_hover": $btn_hover,
  "c_red": $red,
  "c_red_hover": $red_hover,
  "c_red_visited": $red_visited,
  "c_blue_hover": $blue_hover,
  "c_blue_visited": $blue_visited,
  "c_trans": transparent,
  "c_black": #000,
  "c_grey1": #111,
  "c_grey2": #222,
  "c_grey3": #333,
  "c_grey4": #444,
  "c_grey5": #555,
  "c_grey6": #666,
  "c_grey7": #777,
  "c_grey8": #888,
  "c_grey9": #999,
  "c_greya": #aaa,
  "c_greyb": #bbb,
  "c_greyc": #ccc,
  "c_greyd": #ddd,
  "c_greye": #eee,
  "c_white": #fff,
  "site_background": #444,
);

:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }
}
