.raketech-admin-content {
  .btn {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    padding: 16px 32px;
    display: inline-block;
    font-weight: 700;
    border-radius: 10px;
    transition: transit(color), transit(background-color);

    &-primary {
      color: white;
      background-color: $green;

      &:focus,
      &:hover {
        color: white;
        background-color: $btn_hover;
      }
    }
  }
}
