.raketech-admin-content {
  margin-top: 20px;
  max-width: 980px;
  background-color: white;
  font-family: $sans;
  font-size: 13px;
  box-shadow: 5px 5px 10px rgba(black, 0.25);

  @include center-block;

  // use all-around white padding in WP Admin only
  .wp-admin & {
    padding: 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    &.sortable-item {
      display: grid;
      padding: 31px 0 17px;
      align-items: center;

      @include bp(1, 767) {
        justify-items: center;
        gap: 40px 0;
      }

      @include bp(470, 767) {
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        gap: 20px;
      }

      @include bp(768) {
        grid-template-columns: repeat(4, minmax(10px, 1fr));
        gap: 0 20px;
      }

      & ~ li {
        border-top: 1px solid grey;
      }

      &:hover {
        cursor: n-resize;
      }

      &:active {
        cursor: grab;

        @include var(background-color, c_greyc);
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .logo {
    text-align: center;

    a {
      display: block;
      @include colored-links( c_blue, c_blue_hover, c_blue_visited );
    }

    img {
      @include center-block;
    }

    .review {
      display: block;
      line-height: 1;
      margin-top: 10px;
    }
  }

  .button-terms,
  .rating-bonus {
    text-align: center;
  }
}
