.raketech-admin-content {
  .features {
    margin-left: 20px;
  }

  .feature {
    &-item {
      position: relative;
      margin-left: 22px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        left: -22px;
        top: 3px;
        width: 14px;
        height: 14px;
        background-image: url("../../_assets/b-point.png");
      }
    }
  }
}
