.raketech-headings {
  background-color: $gold;
  font-weight: 700;

  .headings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
  }

  .heading {
    margin: 0;
    line-height: 1;
    padding: 19.5px 0;
  }
}
