.raketech-admin-content {
  .star-rating {
    display: block;
    overflow: hidden;
    position: relative;
    height: 1.5em;
    width: (15 * 5) * 1px;
    line-height: 1;
    margin: auto;

    &::before,
    &::after {
      color: $gold;
      font-family: "Font Awesome 5 Free";
    }

    &::before {
      font-weight: 900;
    }

    &::after {
      font-weight: 400;
    }
  }

  .rating {
    &-5 {
      &::before {
        content: "\f005\f005\f005\f005\f005";
      }
    }

    &-4 {
      &::before {
        content: "\f005\f005\f005\f005";
      }

      &::after {
        content: "\f005";
      }
    }

    &-3 {
      &::before {
        content: "\f005\f005\f005";
      }

      &::after {
        content: "\f005\f005";
      }
    }

    &-2 {
      &::before {
        content: "\f005\f005";
      }

      &::after {
        content: "\f005\f005\f005";
      }
    }

    &-1 {
      &::before {
        content: "\f005";
      }

      &::after {
        content: "\f005\f005\f005\f005";
      }
    }
  }
}
