#toaster {
    position: fixed;
    bottom: 10%;
    right: 10%;

    .toast {
        &-message {
            color: white;
            text-transform: uppercase;
            box-shadow: 5px 5px 5px rgba(black, 0.4);
            padding: 16px 20px;
            border-radius: 5px;
            font-size: 20px;
            font-family: $sans;
        }
    }

    .save {
        &-success {
            @include var(background-color, c_green);
            display: none;
        }
        
        &-error {
            @include var(background-color, c_red);
            display: none;
        }
    }
}